[submodule "Carthage/Checkouts/Nimble"]
	url = ssh://git@github.com/mpapp/Nimble.git
	path = Carthage/Checkouts/Nimble
[submodule "Carthage/Checkouts/Quick"]
	url = ssh://git@github.com/mpapp/Quick.git
	path = Carthage/Checkouts/Quick
